@model IEnumerable<GarageModelViewController.Models.ParkedVehicle>

@{
    ViewData["Title"] = "OverviewModelView";
}

<h1>Overview of parked vehicles</h1>
<!--Det skall finnas en ​översiktsvy ​där alla parkerade fordon visas med ​viss​ grunddata Typ, RegNr, Ankomsttid, (Parkeradtid).-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ankomsttid)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayName("Days Parked")
            </th>
           
            <th>
                @Html.DisplayName("Hours Parked")
            </th>
            <th>
                @Html.DisplayName("Minutes passed")
            </th>
          

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ankomsttid)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ParkedTime.Value.Days)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedTime.Value.Hours)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.ParkedTime.Value.Minutes)
                </td>
                 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Unpark" asp-route-id="@item.Id">Unpark</a>
                </td>
            </tr>
        }
    </tbody>
</table>
